h3
  |WUBC
h1
  |Вітаємо

h2
  |Наш адміністратор підтвердив ваш акаунт

p
  |Тепер ви можете реєструватись на &nbsp;
  a href=events_url
    |події
  |.

p
  |Ваш особистий кабінет: &nbsp;
  a href=cabinet_url
    |кабінет
  |.

p
  |Сторінка вашого профілю, який є видимий для всіх: &nbsp;
  a href=member_url(id: @member.id)
    |профіль



