.join-us-container
  .line
  p.title Бажаєте приєднатись до нашого клубу?
  a.green-button href=new_user_registration_path title="Заповнити анкетні дані та створити свій власний профіль клубу" Cтати учасником