= render "home_banner"

.about-us-container
  = inline_svg "icons/logo2.svg"
  = Cms.t("home.about-us-text")

= render "home_meetings_slider"

= render "home_events"

= render "home_testimonials"

= render "home_join_us"

= render "home_speakers"

= render "home_articles"

= render "home_companies"