/ .person-one-banner-container
/   .img-background style="background-image: url(#{asset_path('photo/new-5.jpg')})"

/ .row.person-one-info-wrapper
/   .columns.large-3.personal-info-short
/     .person-name
/       p.regular Спікер клубу
/       p.name Петренко Петро Петрович
/     .square
/       .img-background style="background-image: url(#{asset_path('photo/speaker-3.jpg')})"
/     .info-block
/       p.regular Вік:
/       p.regular-grey 37 років
/     .info-block
/       p.regular Хоббі:
/       p.regular-grey Рафтинг, спортивний волейбол, бігова ходьба
/     .info-block
/       p.regular Контакти:
/       p.regular-grey +38 097 784 65 78
/       p.regular-grey +38 097 789 65 34
/       p.regular-grey petro-inavov@gmail.com
/     a.social-link = inline_svg "icons/social-fb.svg"
/     a.social-link = inline_svg "icons/social-google.svg"

/   .columns.large-9.personal-info-extended
/     .person-name
/       p.regular Спікер клубу
/       p.name Петренко Петро Петрович
      
/     p.large директор компанії фортуни

/     .row.grey-block
/       .columns.medium-6
/         .info-block
/           p.regular Сфера здійснення діяльності:
/           p.regular-grey Розваги
/         .info-block
/           p.regular Кількість працівників:
/           p.regular-grey 24
/         .info-block
/           p.regular Сайт компанії:
/           p.regular-grey www.fortuna.com
/         .info-block
/           p.regular Соціальні мережі компанії:
/           a.social-link = inline_svg "icons/social-fb.svg"
/           a.social-link = inline_svg "icons/social-google.svg"
/       .columns.medium-6
/         .info-block
/           p.regular Офіс №1:
/           p.address-info
/             span Місто:
/             | Львів
/           p.address-info
/             span Адреса:
/             | вул. Гравдійська, 44
/           p.address-info
/             span Телефон:
/             | +38 050 574 98 45
/             br
/             | +38 093 759 43 12
/         .info-block
/           p.regular Офіс №2:
/           p.address-info
/             span Місто:
/             | Рівне
/           p.address-info
/             span Адреса:
/             | вул. Валова, 25
/           p.address-info
/             span Телефон:
/             | +38 050 574 98 45

/     p.large президент компанії фест

/     .row.grey-block
/       .columns.medium-6
/         .info-block
/           p.regular Сфера здійснення діяльності:
/           p.regular-grey Економіка
/         .info-block
/           p.regular Кількість працівників:
/           p.regular-grey 12
/         .info-block
/           p.regular Сайт компанії:
/           p.regular-grey www.fyie.com
/         .info-block
/           p.regular Соціальні мережі компанії:
/           a.social-link = inline_svg "icons/social-fb.svg"
/           a.social-link = inline_svg "icons/social-google.svg"
/       .columns.medium-6
/         .info-block
/           p.regular Офіс №1:
/           p.address-info
/             span Місто:
/             | Львів
/           p.address-info
/             span Адреса:
/             | вул. Гравдійська, 44
/           p.address-info
/             span Телефон:
/             | +38 050 574 98 45
/             br
/             | +38 093 759 43 12
/         .info-block
/           p.regular Офіс №2:
/           p.address-info
/             span Місто:
/             | Рівне
/           p.address-info
/             span Адреса:
/             | вул. Валова, 25
/           p.address-info
/             span Телефон:
/             | +38 050 574 98 45
/         .info-block
/           p.regular Офіс №3:
/           p.address-info
/             span Місто:
/             | Рівне
/           p.address-info
/             span Адреса:
/             | вул. Верховинська, 44
/           p.address-info
/             span Телефон:
/             | +38 050 574 98 45