.contacts-container
  padding: 50px 0
  @media #{$xxlarge-up}
    padding: 100px 0 200px
  .contact-block
    float: left !important
    @media #{$small-only}
      margin-bottom: 20px
    svg
      width: 18px
      height: 18px
    .small-vertical-line
      display: inline-block
      width: 1px
      height: 1.5em
      margin: 0 10px
      background: $light-grey
      vertical-align: middle
    .smaller
      color: $light-grey
      font-style: italic
    .larger
      color: $grey
      padding-top: 10px
      padding-left: 30px
      line-height: 1.2
      span
        display: inline-block

    .contact-link
      display: inline-block
      margin-right: 20px
      svg
        +social-icon-svg
        &:hover
          +social-icon-svg-hover

#map-container
  border: 1px solid rgba($light-grey, 0.5)
  height: 400px
  position: relative
  @media #{$small-only}
    height: 300px
  @media #{$xxlarge-up}
    top: -100px
    height: 500px