@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700)

@font-face
  font-family: Vremena
  src: url(#{asset_path('fonts/vremena/VremenaRegular.otf')}) format ("opentype")
@font-face
  font-family: Vremena
  font-weight: bold
  src: url(#{asset_path('fonts/vremena/VremenaBold.otf')}) format ("opentype")
@font-face
  font-family: Vremena
  font-weight: bold
  font-style: italic
  src: url(#{asset_path('fonts/vremena/VremenaBoldItalic.otf')}) format ("opentype")
@font-face
  font-family: Vremena
  font-style: italic
  src: url(#{asset_path('fonts/vremena/VremenaItalic.otf')}) format ("opentype")
@font-face
  font-family: Vremena
  font-weight: medium
  src: url(#{asset_path('fonts/vremena/VremenaMedium.otf')}) format ("opentype")
@font-face
  font-family: Vremena
  font-weight: medium
  font-style: italic
  src: url(#{asset_path('fonts/vremena/VremenaMediumItalic.otf')}) format ("opentype")
@font-face
  font-family: VremenaBook
  src: url(#{asset_path('fonts/vremena/VremenaBook.otf')}) format ("opentype")
@font-face
  font-family: VremenaBook
  font-style: italic
  src: url(#{asset_path('fonts/vremena/VremenaBookItalic.otf')}) format ("opentype")

@font-face
  font-family: lg
  src: url(#{asset_path('lightgallery/lg.eot?n1z373')})
  src: url(#{asset_path('lightgallery/lg.eot?#iefixn1z373')}) format("embedded-opentype"), url(#{asset_path('lightgallery/lg.woff?n1z373')}) format("woff"), url(#{asset_path('lightgallery/lg.ttf?n1z373')}) format("truetype"), url(#{asset_path('lightgallery/lg.svg?n1z373#lg')}) format("svg")
  font-weight: normal
  font-style: normal