.input.input-date
  .icon-calendar
    top: 45px !important

.material-input
  border: none !important
  border-bottom: 1px solid #BCBCBC !important


.textarea-corner
  position: absolute
  width: 0
  height: 0
  border-right: 5px solid $green
  border-bottom: 5px solid $green
  border-left: 5px solid transparent
  border-top: 5px solid transparent
  right: 2px
  bottom: 2px
  pointer-events: none


.input
  &.invalid
    input
      border-color: red

.input
  input, textarea
    color: $green

form
  .sign-in-button, .or-separator, .join-us-link
    display: inline-block
  button
    color: $green
    font-style: italic
    margin-top: 20px
  .or-separator
    color: $grey
    margin: 0 10px
  .join-us-link
    color: $light-grey
    +transition(0.15s)
    &:hover
      color: $green

.input
  position: relative
  input, textarea
    padding: 10px 0
    display: block
    width: 100%
    border: none
    outline: none
    background: transparent
    &:focus
      outline: none
  label
    pointer-events: none
    top: 8px
    transition: all 0.2s ease
  input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
    top: -10px
    font-size: 0.75em

  label.icon
    position: absolute
    right: 10px
    top: 45px !important
    opacity: 0.6

    svg
      width: 21px
      height: 21px


  .bar
    position: relative
    display: block
    width: 100%
    &:before
      content: ''
      height: 1px
      width: 0
      bottom: 0
      position: absolute
      transition: all 0.2s ease
    &:before
      left: 0
  input:focus ~ .bar, textarea:focus ~ .bar
    &:before, &:after
      width: 100%

.material_form
  .input
    margin-bottom: 10px
    max-width: 250px
    input, textarea
      font-size: 1em
      padding: 10px 0
      color: $light-grey
      border-bottom: 1px solid $grey
    label
      position: absolute
      color: $light-grey
      font-size: 1em
      top: 8px
    input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
      top: -10px
      font-size: 0.75em
    .bar
      &:before
        background: $light-grey

.input
  textarea
    color: $green
    resize: vertical
    width: 100%
    min-height: 180px
    background: transparent
    padding: 10px 20px
    outline: none
    appearence: none
    border: 1px solid rgba($light-grey, 0.5)
    &:focus
      outline: none


.club-members-container .input
  input, textarea
    font-size: 1.125em
    font-style: italic
    padding: 10px 0
    color: $green
    border-bottom: 1px solid $light-grey
  label
    position: absolute
    color: $light-grey
    font-size: 1em
    top: 8px
  input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
    top: -10px
    font-size: 0.75em
    color: $grey
  .bar
    &:before
      background: $green

$select-color: $grey
$select-background: white
$select-width: 100%
$select-height: 43px

.select-hidden
  display: none
  visibility: hidden
  padding-right: 10px
.select
  cursor: pointer
  display: inline-block
  position: relative
  font-size: 1.125em
  color: $green
  width: $select-width
  height: $select-height
  border-bottom: 1px solid $light-grey

.select-styled
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  // background: $select-background
  background: transparent
  padding: 10px 0
  +transition(0.25s)
  &:after
    content: ''
    width: 0
    height: 0
    border: 7px solid transparent
    border-color: $green transparent transparent transparent
    position: absolute
    top: 16px
    right: 20px
  &:hover
    // background: darken($select-background, 2)
  &:active, &.active
    // background: darken($select-background, 5)
    &:after
      top: 10px
      border-color: transparent transparent $green transparent

.select-options
  display: none
  position: absolute
  top: 100%
  right: 0
  left: 0
  z-index: 999
  color: $grey
  margin: 0
  padding: 0
  list-style: none
  background-color: darken($select-background, 1)
  li
    margin: 0
    padding: 12px 0
    text-indent: 15px
    border-top: 1px solid darken($select-background, 10)
    +transition(0.15s)
    &:hover
      color: $select-background
      background: $select-color
    &[rel="hide"]
      display: none

.inputs-collection
  position: relative
.inputs-collection-controls
  position: absolute
  right: 7px
  bottom: -15px

.inputs-collection-control, .office-control-edit
  position: relative
  cursor: pointer
  width: 30px
  height: 30px
  margin: 0 8px
  display: inline-block

  svg
    margin: auto
    fill: white
    top: 6px
    left: 9px
    position: relative



.inputs-collection-control-add, .office-control-edit
  background: $green

.inputs-collection-control-remove
  background: $grey

  svg
    +transform(rotate(45deg))

.inputs-collection-single-input
  > .inputs-collection-controls
    .inputs-collection-control-remove
      display: none

.office
  position: relative

.office-controls
  //position: absolute
  position: relative

.office-control
  color: $green
  display: inline-block
  margin: 0 12px
  font-size: 14px
  font-style: italic
  vertical-align: middle
  cursor: pointer

.office-control-edit
  svg
    top: 5px
    left: 5px
    width: 20px
    height: 20px


// validation
.required-mark
  color: $green

.company-controls
  text-align: center
.company-control
  display: inline-block
  cursor: pointer
  color: $grey
  font-size: 14px
  margin: 0 30px
.company-control-icon
  width: 45px
  height: 45px
  background: $green
  display: inline-block

  svg

    width: 22px
    height: 22px
    position: relative
    top: 11px
    left: 0

.company-control-label
  display: block


.company-control-remove
  .company-control-icon
    background-color: $grey
    svg
      +transform(rotate(45deg))
      left: 0


.office-controls
  //display: none !important

//.office-control-save
  display: none !important

.office-control
  &.disabled
    color: #414141
    cursor: default

.office-control-edit
  display: none
  position: absolute
  right: 3px
  bottom: 9px

.form-errors
  color: red

.help
  font-size: 12px
  color: #555

.office-preview
  display: none

.input-office
  &.preview-mode
    .office-inputs, .office-control-save
      display: none !important

    .office-control-edit
      display: block

    .office-preview
      display: block


.input-social-icon
  svg
    width: 24px
    position: absolute
    left: 10px
    top: 10px
    fill: #aaa

input[name=social_facebook] + .input-social-icon
  svg
    left: 8px


.input
  &.input-social
    input
      padding-left: 45px

    &.not-empty
      .input-social-icon
        svg
          fill: $green


html input[disabled]
  cursor: default


.email-exists-error-message
  display: none
  color: red

#registration-user .input-email
  &.invalid-email-exists
    .email-exists-error-message
      display: block


.email-ajax-loader
  display: none

.input-email
  &.ajax-validation-in-progress
    .email-ajax-loader
      display: block


.company-self-controls
  text-align: right

  .company-control
    text-align: center
    vertical-align: top

    .company-control-icon
      display: inline-block
    .company-control-label
      cursor: pointer
      display: inline-block
      vertical-align: top
      line-height: 45px
      padding: 0 15px
      font-size: 16px
      color: #414141

    &:last-child
      margin-right: 0

.company-controls-separator
  width: 100%
  margin: 32px 0 80px 0
  height: 1px
  background-color: rgba($light-grey, 0.5)

.company-control-save, .cabinet-profile-control-save
  display: none
  opacity: 0
  +transition-duration(0.5s)
  +transition-property(opacity)
  svg
    fill: white
    width: 25px
    height: 25px

  .has-explicitly-unsaved-changes &
    display: inline-block
    opacity: 1



#cabinet-companies
  .company
    &:first-child:last-child
      .company-control-remove
        display: none !important


#registration-user
  [data-key="password"]
    .help
      text-align: right
      width: 100%
      position: absolute
      top: 80px


.cabinet-controls
  float: left
  width: 100%
  text-align: right
  height: 130px
  padding-top: 30px


.cabinet-profile-control-save
  text-align: center
  vertical-align: top
  +transition-duration(0.5s)
  +transition-property(opacity)
  cursor: pointer
  color: #606060
  font-size: 14px
  margin: 0 30px
  display: none
  opacity: 0

  .has-explicitly-unsaved-changes
    display: inline-block
    opacity: 1


  .cabinet-profile-control-icon
    display: inline-block
    width: 45px
    height: 45px
    background: #00C752

    svg
      fill: white
      width: 25px
      height: 25px
      position: relative
      top: 11px
      left: 0

  .cabinet-profile-control-label
    cursor: pointer
    display: inline-block
    vertical-align: top
    line-height: 45px
    padding: 0 15px
    font-size: 16px
    color: #414141

.restore_pass_form
  width: 500px
  position: relative
  box-shadow: 0 0 15px rgba(0,0,0,0.5)
  padding-top: 50px
  background: white
  max-width: 90%
  z-index: 5
  margin: 10% auto
  padding: 10px 40px 50px
  @media #{$small-only}
    position: absolute
    top: 50%
    left: 50%
    +translate(-50%,-50%)
    padding: 10px 20px 40px

  h2
    color: $green
    font-weight: 400
    text-align: center
    margin: 20px 0
    line-height: 1.25

  .input
    margin-bottom: 20px
    max-width: 100%
    width: initial
    input, textarea
      color: $dark-grey
      border-bottom: 1px solid $light-grey
    label
      position: absolute
      color: $light-grey
      font-size: 1em
      top: 8px
    input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
      top: -10px
      font-size: 0.75em
      color: $green
    .bar
      &:before
        background: $green
  
  .action
    text-align: center

// personal helpers

.personal-helper-control
  @extend .office-control

.personal-helper-control-save
  @extend .office-control-save

//.personal-helper-control-add
  @extend .office-control-add

.personal-helper-control-edit
  @extend .office-control-edit

.personal-helper-preview
  display: none

.input-personal-helper
  &.preview-mode
    .personal-helper-inputs, .personal-helper-control-save
      display: none !important

    .personal-helper-control-edit
      display: block

    .personal-helper-preview
      display: block

//.personal-helper-control-remove
  @extend .office-control-remove

#registration-user
  .personal-helpers
    border-top: 1px solid rgba(0,0,0,0.3)
    margin: 50px 0 0 0
    padding: 20px 0 0 0

.input-personal-helper
  &.preview-mode
    .filled-info
      p
        padding: 0 0 0 110px