.material-input
  border: none !important
  border-bottom: 1px solid #BCBCBC !important


.textarea-corner
  position: absolute
  width: 0
  height: 0
  border-right: 5px solid $green
  border-bottom: 5px solid $green
  border-left: 5px solid transparent
  border-top: 5px solid transparent
  right: 2px
  bottom: 2px
  pointer-events: none


.input
  &.invalid
    input
      border-color: red

.input
  input, textarea
    color: $green

form
  .sign-in-button, .or-separator, .join-us-link
    display: inline-block
  button
    color: $green
    font-style: italic
    margin-top: 20px
  .or-separator
    color: $grey
    margin: 0 10px
  .join-us-link
    color: $light-grey

.input
  position: relative
  input, textarea
    padding: 10px 0
    display: block
    width: 100%
    border: none
    outline: none
    background: transparent
    &:focus
      outline: none
  label
    pointer-events: none
    top: 8px
    transition: all 0.2s ease
  input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
    top: -10px
    font-size: 0.75em

  label.icon
    position: absolute
    right: 5px
    top: 35px !important
    opacity: 0.6

    svg
      width: 21px
      height: 21px


  .bar
    position: relative
    display: block
    width: 100%
    &:before
      content: ''
      height: 1px
      width: 0
      bottom: 0
      position: absolute
      transition: all 0.2s ease
    &:before
      left: 0
  input:focus ~ .bar, textarea:focus ~ .bar
    &:before, &:after
      width: 100%

.material_form
  .input
    margin-bottom: 10px
    max-width: 250px
    input, textarea
      font-size: 1em
      padding: 10px 0
      color: $light-grey
      border-bottom: 1px solid $grey
    label
      position: absolute
      color: $light-grey
      font-size: 1em
      top: 8px
    input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
      top: -10px
      font-size: 0.75em
    .bar
      &:before
        background: $light-grey

.input
  textarea
    color: $green
    resize: vertical
    width: 100%
    background: transparent
    padding: 10px 20px
    outline: none
    appearence: none
    border: 1px solid #747474
    &:focus
      outline: none


.club-members-container .input
  input, textarea
    font-size: 1.125em
    font-style: italic
    padding: 10px 0
    color: $green
    border-bottom: 1px solid $light-grey
  label
    color: $light-grey
    font-size: 1em
    top: 8px
  input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
    top: -10px
    font-size: 0.75em
    color: $grey
  .bar
    &:before
      background: $green

$select-color: $grey
$select-background: white
$select-width: 100%
$select-height: 43px

.select-hidden
  display: none
  visibility: hidden
  padding-right: 10px
.select
  cursor: pointer
  display: inline-block
  position: relative
  font-size: 1.125em
  color: $green
  width: $select-width
  height: $select-height
  border-bottom: 1px solid $light-grey

.select-styled
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  // background: $select-background
  background: transparent
  padding: 10px 0
  +transition(0.25s)
  &:after
    content: ''
    width: 0
    height: 0
    border: 7px solid transparent
    border-color: $green transparent transparent transparent
    position: absolute
    top: 16px
    right: 20px
  &:hover
    // background: darken($select-background, 2)
  &:active, &.active
    // background: darken($select-background, 5)
    &:after
      top: 10px
      border-color: transparent transparent $green transparent

.select-options
  display: none
  position: absolute
  top: 100%
  right: 0
  left: 0
  z-index: 999
  color: $grey
  margin: 0
  padding: 0
  list-style: none
  background-color: darken($select-background, 1)
  li
    margin: 0
    padding: 12px 0
    text-indent: 15px
    border-top: 1px solid darken($select-background, 10)
    +transition(0.15s)
    &:hover
      color: $select-background
      background: $select-color
    &[rel="hide"]
      display: none

.inputs-collection
  position: relative
.inputs-collection-controls
  position: absolute
  right: 7px
  bottom: -15px

.inputs-collection-control, .office-control-remove, .office-control-edit
  position: relative
  cursor: pointer
  width: 30px
  height: 30px
  margin: 0 8px
  display: inline-block

  svg
    margin: auto
    fill: white
    top: 5px
    left: 8px
    position: relative



.inputs-collection-control-add, .office-control-edit
  background: $green

.inputs-collection-control-remove, .office-control-remove
  background: $grey

  svg
    +transform(rotate(45deg))

.inputs-collection-single-input
  .inputs-collection-control-remove
    display: none

.office
  position: relative

.office-controls
  //position: absolute
  position: relative

.office-control
  color: $green
  display: inline-block
  margin: 0 12px
  font-size: 14px
  font-style: italic

.office-control-edit
  svg
    top: 5px
    left: 5px
    width: 20px
    height: 20px