.header-container
  position: fixed
  width: 100%
  top: 0
  left: 0
  z-index: 10
  +transition-property(all)
  +transition-duration(1s)
  +translate(0,-100%)
  +clearfix
  .navigation
    position: relative
    padding: 30px
    +clearfix
    @media #{$small-only}
      padding: 10px
  .logo
    float: left
    svg
      position: absolute
      top: 30px
      left: 30px
      @media #{$small-only}
        top: 10px
        left: 20px
        position: initial
    p
      font-weight: bold
      color: #fff
      font-size: 18px
      display: inline-block
      text-transform: uppercase
      margin-left: 70px
      margin-top: 15px
      +transition(1s)
      @media #{$small-only}
        display: none
  .locales-bar
    float: left
    margin-left: 40px
    @media #{$small-only}
      margin-left: 20px
    a
      font-size: 0.875em
      display: inline-block
      padding: 17px 5px
      color: $light-grey
      text-transform: uppercase
      +transition(0.1s)
      &:hover
        color: $green
      &.active
        color: $green

  &.scrolled, &.visible
    +translate(0,0)
    position: fixed
  &.visible
    position: absolute
  &.scrolled
    background-color: #fff
    .logo
      p
        color: $dark-grey
  .menu-button
    float: right
    cursor: pointer
    position: relative
    z-index: 1
    width: 50px
    height: 40px
    padding: 12px
    margin: 10px
    .menu-button-lines
      +burger(25px, 2px, 5px, $main, 1px)
      position: absolute
    &:before, &:after
      position: absolute
      color: black
      background: white
      font-size: 12px
      font-family: sans-serif
      padding: 2px 6px
      min-width: 100px
      right: 15px
      bottom: -30px
      border-radius: 3px
    &:hover
      .menu-button-lines
        &, &::before, &::after
          // background-color: #fff
      &:before
        @media #{$xlarge-up}
          content: attr(data-title-open)
    &.opened
      .menu-button-lines
        +burger-to-cross
        &::before, &::after
          background-color: $green
      &:hover
        .menu-button-lines
          &::before, &::after
            // background-color: #fff
        &:after
          @media #{$xlarge-up}
            content: attr(data-title-close)
    @media #{$small-only}
      margin: 5px
  .menu-wrapper
    background-color: $dark-grey
    position: relative
    height: 400px
    margin-top: -400px
    +transition(1s)
    @media #{$small-only}
      height: 400px
      margin-top: -400px
    &.opened
      margin-top: 0
    .contacts-field
      @media #{$small-only}
        display: none
    .top
      @media #{$small-only}
        padding: 10px 0

  .title
    @media #{$large-up}
      &:before
        content: ''
        position: absolute
        width: 1px
        height: 200px
        background: $grey
        bottom: 8px
        left: -10px

// body
//   &.articles__index
//     .logo
//       p
//         color: $grey
//     .login-field
//       p
//         color: $grey
//       svg
//         fill: $grey
//       &:hover
//         p
//           color: $green
//         svg
//           fill: $green
//     .menu-button
//       .menu-button-lines
//         +burger(25px, 2px, 5px, $main, 1px)
//       &:hover
//         .menu-button-lines
//           &, &::before, &::after
//             background-color: $main
//       &.opened
//         .menu-button-lines
//           +burger-to-cross
//           &::before, &::after
//             background-color: $green
//         &:hover
//           .menu-button-lines
//             &::before, &::after
//               background-color: $main

body.events__index
  .locales-bar
    a
      color: white
  .login-field
    border-right: 1px solid white
    p
      color: white
    svg
      fill: white
    &:hover
      p
        color: $main
      svg
        fill: $main