.login-form-wrapper, .success-message-wrapper
  width: 500px
  margin: 30px auto
  position: relative
  margin: 0 auto
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5)
  padding-top: 50px
  background: white
  max-width: 90%
  z-index: 5
  @media #{$small-only}
    padding-top: 20px

  h2
    color: $green
    text-align: center
  .material_form
    padding: 0 50px 50px
    .input
      max-width: initial
      input
        border-bottom: 1px solid $light-grey
        color: $grey
    .actions
      text-align: center
      .btn
        border-top: 1px solid $light-grey
        border-bottom: 1px solid $light-grey
        padding: 0 50px
    @media #{$small-only}
      padding: 0 20px 30px

  .no-account-block
    background: $grey
    text-align: center
    p, a
      display: inline-block
      margin: 0 10px
      line-height: 60px
    p
      color: $light-grey
    a
      color: $green

  .remember-me
    text-align: center
    margin-top: 30px
    input
      display: inline-block
      width: 16px
      height: 16px
    label
      position: relative
      top: -2px
      margin-left: 10px
    input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label
      top: -2px
      font-size: 1em

  .forgot_password_link
    text-align: right
    font-size: 0.875em
    color: $light-grey
    &:hover
      color: $green

.login-form-wrapper.form-page
  // margin: 10% auto

.close-popup-circle
  cursor: pointer
  position: relative
  width: 50px
  height: 50px
  border-radius: 50%
  border: 1px solid white
  margin: 10% auto 30px
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  +transition(0.1s)
  svg
    margin: auto
    width: 16px
    height: 16px
    *
      fill: $green
  &:hover
    border: 1px solid $green

.success-message-wrapper
  padding-top: 0
  padding-bottom: 50px
  text-align: center
  .green-header
    line-height: 70px
    background: $green
    text-transform: uppercase
    font-size: 1.5em
    color: white
  .regular-grey
    padding: 30px 50px
    text-align: initial