.home-banner
  position: relative
  height: 100vh

  .banner-background
    position: absolute
    background-size: cover
    background-position: center
    width: 100%
    height: 100%
  .banner-man
    position: absolute
    background-size: contain
    background-position: right bottom
    background-repeat: no-repeat
    width: 100%
    height: 100%
    right: 0
    z-index: 1
  .text
    position: relative
    height: 100vh
    padding: 1rem
  .main-title
    font-family: Vremena
    font-size: 2.5em
    color: #fff
    position: relative
    z-index: 2
    margin-top: 30vh
    text-transform: none
    @media #{$small-only}
      font-family: 'Lora', serif
      font-size: 1.25em
  .main-header
    font-family: Vremena
    font-size: 5.3rem
    line-height: 5rem
    color: $main
    text-transform: uppercase
    position: relative
    z-index: 2
    @media #{$small-only}
      font-family: 'Lora', serif
      font-size: 2rem
      line-height: 2rem
  hr
    border: 0
    margin: 30px 0
    height: 1px
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(188,188,188,0.75), rgba(0,0,0,0))  
    @media #{$small-only}
      margin: 10px 0
  .regular
    font-size: 1.125rem
    color: #fff
    opacity: 0.7
    line-height: 1.5rem
    position: relative
    z-index: 2
    @media #{$small-only}
      font-size: 0.875rem
      line-height: 0.875rem
    @media #{$medium-up}
      max-width: 500px
  .btn
    margin-top: 30px
    z-index: 2
  .bottom
    position: absolute
    z-index: 2
    bottom: 30px
    cursor: pointer
    @media #{$small-only}
      left: 1rem
    svg
      height: 26px
      fill: $light-grey
      +transition(0.25s)
    span
      font-size: 15px
      color: $light-grey
      font-style: italic
      position: relative
      left: 10px
      top: -7px
      +transition(0.25s)
    &:hover
      svg
        fill: #fff
      span
        color: #fff

.about-us-container
  text-align: center
  padding: 50px 1em
  @media #{$medium-up}
    padding: 100px 1em
  .regular
    color: $grey
    margin: 30px auto
    max-width: 550px
.event-container
  overflow: hidden
  .img-background
    max-width: 500px
.calendar-container
  background-color: $smoke
  padding: 70px 0
  svg
    @media #{$small-only}
      width: 80px
      height: 80px
  .section-header
    text-align: center
  .future-events
    font-size: 1.25rem
    color: $main
    text-align: center
    margin: 50px 0
  .past-events
    font-size: 1.25rem
    color: $grey
    text-align: center
    margin: 0 0 50px 0

  .btn-container
    text-align: center
.event-container
  position: relative
  border-left: 1px solid $main
  max-width: 500px
  margin: 0 auto 50px
  cursor: pointer

  &.past-event
    +transition(0.25s)
    +grayscale
  .date
    font-size: 2.5rem
    color: $main
    margin-left: 20px
    span
      font-style: italic
      font-size: 0.875rem
      color: $grey
  .img-container
    height: 250px
    left: -1px
    position: relative
    overflow: hidden
    .img-background
      +transition(0.25s)
    .hover-text
      position: absolute
      left: 50%
      top: 50%
      +translate(-50%,-50%)
      padding: 5px 10px
      opacity: 0
      +transition(0.25s)
      p
        font-style: italic
        color: #fff
        position: relative
        z-index: 1
      &:before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        left: 0
        top: 0
        background-color: #000
        opacity: 0.5
    .blur
      -webkit-filter: blur(3px)
    .text
      position: absolute
      top: 50%
      left: 50%
      width: 90%
      +translate(-50%,-50%)
      text-align: center
      svg
        fill: #fff
        width: 40px
      p
        font-size: 15px
        color: #fff
        margin: 20px 0
      .login-link
        font-size: 14px
        color: #fff
        border-bottom: 1px solid #fff
        display: inline-block
        line-height: 22px
        +transition(0.25s)
        &:hover
          color: $main
          border-bottom: 1px solid $main
  .description
    color: $grey
    padding: 20px
    +transition(0.25s)
  &:hover
    .img-background
      +scale(1.1)
    .description
      color: $green
    .hover-text
      opacity: 1
    &.past-event
      +disable-grayscale


.meeting-container
  height: 600px
  position: relative
  @media #{$small-only}
    height: 300px
  .slider-top-shadow
    position: absolute
    width: 100%
    height: 60px
    z-index: 1
    background: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0))
  p
    color: #fff
    font-style: italic
    position: absolute
    z-index: 1
    left: 50%
    top: 20px
    +translate(-50%,0)

.members-container
  position: relative
  background-color: $dark-grey
  padding: 70px 0
  margin-top: -15px
  .line
    background-color: $main
  .section-header
    color: #fff
    font-weight: initial
    text-align: center
  .under-header
    color: $green
    font-size: 14px
    text-align: center
    margin-top: 10px
  $slide-width: 1000px
  .slider-2
    height: 700px
    margin-top: 100px
    @media #{$small-only}
      height: 500px
    @media #{$xxlarge-up}
      margin-left: 20%
      margin-right: 20%
  .slide
    @media #{$xxlarge-up}
      width: $slide-width !important
    .img-background
      top: 0px
      left: 0px
      right: 0px
      bottom: 0px
      width: initial
      height: initial
      @media #{$xxlarge-up}
        top: 50px
        left: 50px
        right: 50px
        bottom: 50px
      +transition(0.5s)
    &.active-slide
      opacity: 1
      +transition(0.5s)
      .img-background
        top: 0px
        left: 0px
        right: 0px
        bottom: 0px
  .slide:not(.active-slide)
    .overlay
      content: ''
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
      background-color: $dark-grey
      opacity: 0.8
      z-index: 11

  .text
    position: relative
    z-index: 1
    left: 10%
    top: 20%
    @media #{$small-only}
      width: 80%
      left: 5%
      top: 10%
    .title
      font-family: Vremena
      font-size: 1.75em
      line-height: 1.75rem
      color: $green
      text-transform: uppercase
      @media #{$small-only}
        font-family: 'Lora', serif
    .subtitle
      font-size: 0.875em
      color: $grey
      margin-top: 10px
    .comment
      font-size: 1.125em
      line-height: 1.5rem
      color: $grey
      font-style: italic
      position: relative
      padding-left: 50px
      margin-top: 50px
      max-width: 400px
      &:before
        content: "\""
        font-family: georgia
        font-size: 7rem
        font-style: italic
        position: absolute
        left: 0
        top: 10px
        color: $green
  .slider-selectors
    position: relative
    text-align: center
    margin: 30px 0 50px
    svg
      width: 30px
      fill: $light-grey
      stroke: $light-grey
    .slider-prev, .slider-next, .current-slide
      vertical-align: middle
    .current-slide
      position: relative
      margin: 0 30px
      width: 70px
      display: inline-block
      .number
        font-size: 2.125em
        color: $main
        font-style: italic
      span
        color: $grey
        font-size: 1.5rem
        font-style: italic
      .slash
        font-size: 2.25rem
        position: relative
        top: -3px
        left: 6px

.join-us-container
  position: relative
  padding: 70px 1em
  text-align: center
  margin-top: -15px
  .line
    background-color: $grey
  .title
    font-family: VremenaBook
    font-size: 2.25em
    color: $dark-grey
    max-width: 400px
    margin: 0 auto
    line-height: 1em
    @media #{$small-only}
      font-family: 'Lora', serif

.club-speakers-container
  background-color: $smoke
  padding: 70px 1em
  .section-header
    font-family: Vremena
    font-weight: initial
    text-align: center
    @media #{$small-only}
      font-family: 'Lora', serif
  .under-header
    color: $green
    font-size: 14px
    text-align: center
    margin-top: 10px
  .block-wrapper
    padding: 70px 0
  .block-container
    position: relative
    height: 300px
    width: 100%
    overflow: hidden
    margin-bottom: 25px
    cursor: pointer
    @media #{$small-only}
      height: 250px
    &.hide
      @media #{$small-only}
        display: none
    .img-background
      +transition(0.25s)
      +grayscale(70%)
      &:before
        +transition(0.25s)
        +overlay
    .title
      font-family: Vremena
      position: absolute
      z-index: 2
      top: 30px
      left: 20px
      color: #fff
      text-transform: uppercase
      font-size: 1.375em
      line-height: 1.2em
      @media #{$small-only}
        font-family: 'Lora', serif
    .hover-block
      position: absolute
      z-index: 1
      width: 200px
      height: 100%
      background-color: $green
      +translate(-100%,0)
      +transition(0.5s)
      opacity: 0.25
      .hover-text
        font-size: 0.75em
        color: #fff
        width: 80%
        position: absolute
        top: 50%
        left: 50%
        opacity: 0
        +translate(-50%,-50%)
      svg
        position: absolute
        opacity: 0
        bottom: 20px
        right: 30px
        fill: #fff
        stroke: #fff
        width: 30px
        +translate(-200%,0)
        +transition(0.25s)
    &:hover
      .img-background
        +grayscale(0%)
        &:before
          +overlay(0)
      .hover-block
        +translate(0,0)
        opacity: 1
        .hover-text
          opacity: 1
          transition: 0.25s ease-out
          transition-delay: 0.25s
        svg
          opacity: 1
          +translate(0,0)
          transition: 0.4s ease-in-out
          transition-delay: 0.35s
  .btn-container
    text-align: center
    margin-bottom: 70px
  .news-container
    padding: 50px 0
    
.companies
  padding: 70px 0
  @media #{$small-only}
    display: none
  .slider-container
    position: relative
    margin-top: 50px
  .carousel-slider-prev, .carousel-slider-next
    position: absolute
    fill: $grey
    stroke: $grey
    width: 40px
    top: 50%
    cursor: pointer
  .carousel-slider-prev
    left: 0
  .carousel-slider-next
    right: 0
  .bx-wrapper
    @media #{$medium-only}
      width: 500px
  .slider-3
    margin: 0 auto
    padding: 0 70px
  .company-block
    text-align: center
    @media #{$medium-only}
      width: 33%
    @media #{$large-up}
      width: 20%
  .img
    width: 110px
    height: 100px
    margin: 0 auto
  .name
    font-family: Vremena
    font-size: 1.125em
    color: $green
    text-transform: uppercase
    margin-top: 10px
  .description
    font-size: 0.875em
    color: $grey