.club-partners-container
  padding: 100px 0
  .line
    background: $grey

.partner-block
  text-align: center
  float: left !important
  img
    max-width: 70%
    max-height: 120px
  .title
    color: $green
    +vremena
    font-size: 1.5em
    text-transform: uppercase
    margin-bottom: 30px
    display: block
    @media #{$small-only}
      font-family: Lora
  .smaller
    color: $light-grey
  .regular-grey
    width: 80%
    margin: 0 auto

  img + .regular-grey
    margin: 10px auto 0 auto

  @media #{$small-only}
    margin: 0 0 50px 0
    //&:nth-child(3n+3)
      clear: left

  @media #{$medium-up}
    &:nth-child(3n+4)
      clear: left


